.Main-menu{
  position: fixed;
  width: 250px;
  height: 100vh;
  background: #dddddd;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  z-index: 2;
}
.Main-container{
  width: 100%;
  padding: 64px 0px 0px 250px;
}