.table-main{
  cursor: pointer;
}
.table-created{
  background-color: #f3fff3;
}
.table-updated{
  background-color: #fffcf3;
}
.table-disabled{
  background-color: #fff6f3;
}
.table-id{
  width: 10px!important;
  background-color: #008001;
  color: #fff!important;
}